html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

.jumbotron {
    background: transparent url('/siteserver/css/images/bg_clouds.png') no-repeat scroll center top;
    margin-bottom: 0;
}

.splash {
    color: #e4eef0;
}

.presell {
    padding-top: 50px;
}

.pad-left-10 {
    padding-left: 10px;
}

.disclaimer {
    color: #888888;
}

.disclaimer a {
    /* color: #e4eef0; */
}

.click {
    cursor: pointer;
}

.black {
    color: #333;
}
.white {
    color: #eee;
}

.strapline.alert {
    margin-bottom: 0;
    text-align: center;
}

.page-margin {
    width: 940px;
    margin: 0 auto;
}

.site-header
{
    height: 50px;
    background-color: #2d2d2d;
}

#site-header h1
{
    height: 50px;
    margin: 0;
    float: left;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 50px;
    color: #fff;
}

#login-control
{
    float: right;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

#login-control .glyphicon {
}

#login-control .username {
    padding-right: 5px;
    text-decoration: underline;
}

#login-control .welcome-message
{
    margin-right: 20px;
    display: inline-block;
}

/*
#login-control a, a:hover
{
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
}
*/

#login-control b {
    text-decoration: none;

}

.nav li>a.dropdown-toggle, .nav .dropdown-toggle li>a:hover.dropdown-toggle {
    background-color: transparent;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}

#site-footer
{
    margin-top: 100px;
}

#site-footer .top
{
    min-height: 130px;
    background-color: #6eb43c;
    padding: 20px 0;
    color: #f2f7fa;
}

#site-footer .top p {
    padding-top: 40px;
}

#site-footer .top a {
    color: #444;
    text-decoration: none;
}

#site-footer .bottom
{
    min-height: 60px;
    background-color: #2d2d2d;
    padding: 20px 0;
    color: #f2f7fa;
}

#site-footer .bottom p {
    padding-top: 10px;
}

#site-footer a
{
    color: #6eb53c;
}

#login-form {
    padding-top: 20px;
    max-width: 350px;
    margin: 0 auto;
}

/* -------- */

.leanscheme {text-align: center; font-size: 200%}
.slogan {text-align: center; font-size: 400%}
.quotation {text-align: center;}
.sites-header {font-size: 200%}