<div style="padding-top: 0" data-bind="if: display">
	<div class="container">
	    <h3>Account Information
	    <a class="btn btn-default" href="/ac" title="User Groups">
		  <span class="glyphicon glyphicon-user"></span>
		  <span class="glyphicon glyphicon-user"></span>
		</a>
	    </h3>
	    <div class="value-with-label" data-bind="with: account">
	        <span class="span-for-label">Account ID:</span> <span class="span-for-value" data-bind="text: ce_account_id"></span><br/>
	        <span class="span-for-label">Password:</span> <span class="span-for-value" data-bind="text: ce_password"></span><br/>
	        <span class="span-for-label">Email:</span> <span class="span-for-value" data-bind="text: vcard_email"></span><br/>
	        <span class="span-for-label">User URL:</span> <span class="span-for-value" data-bind="text: ce_user._subject"></span><br/>
	        <span class="span-for-label">Given name:</span> <span class="span-for-value" data-bind="text: ce_user.foaf_givenName"></span><br/>
	        <span class="span-for-label">Family name:</span> <span class="span-for-value" data-bind="text: ce_user.foaf_familyName"></span><br/>
	        <span class="span-for-label">Nickname:</span> <span class="span-for-value" data-bind="text: ce_user.foaf_nick"></span><br/>
	        <span class="span-for-label">Street:</span> <span class="span-for-value" data-bind="text: vcard_adr.vcard_street__address"></span><br/>
	        <span class="span-for-label">City:</span> <span class="span-for-value" data-bind="text: vcard_adr.vcard_locality"></span><br/>
	        <span class="span-for-label">State:</span> <span class="span-for-value" data-bind="text: vcard_adr.vcard_region"></span><br/>
	        <span class="span-for-label">Zip:</span> <span class="span-for-value" data-bind="text: vcard_adr.vcard_postal__code"></span><br/>
	        <span class="span-for-label">Country:</span> <span class="span-for-value" data-bind="text: vcard_adr.vcard_country__name"></span><br/>	    	
	    </div>
	</div>	
</div>

<div class="container" data-bind="if: register">
    <h2>Register</h2>
        <form id="login-form" class="form-signin form-horizontal" data-bind="submit: validate_and_send" action="thiswontwork">
            <div class="form-group">
                <input id="accountId" type="text" class="form-control" placeholder="Account ID" autofocus>
            </div>

            <div class="form-group">
                <input id="password" type="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <input id="password2" type="password" class="form-control" placeholder="Password again">
            </div>

        </form>
        <div class="submit">
            <br>
            <button class="btn btn-success" value="Register" data-bind="click: validate_and_send">Register New Account</button>
        </div>
        <div class="spacer"></div>
    </form>
</div>
