<style scoped>
    @import url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css');
    @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
    @import url('/siteserver/ce_saas_host.css');
</style>

<header id="site-header" data-bind="template: 'header-template' "></header>

<div class="container" style="min-height: 800px;">
    <form id="login-form" class="form-signin form-horizontal" onsubmit="validate_and_send(); return false;" action="thiswontwork">
        <div class="form-group">
            <h4 class="form-signin-heading">Please sign in</h4>
            <input id="accountId" type="text" class="form-control" placeholder="Account ID" autofocus>
        </div>

        <div class="form-group">
            <input id="password" type="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <div id="response-message" style="min-height: 1.5em;"></div>
            <button class="btn btn-success" type="submit">Sign in</button>
        </div>

        <div class="form-group">
            <p>Don't have an account? <a href='#' onclick="get_registration_form(); return false;">Click here</a> to register.<br>It's free!</p>
        </div>
    </form>
</div>

<footer id="site-footer" data-bind="template: 'footer-template' "></footer>

<script type="text/html" id="header-template" load-src="/sitedesign/header.htm"></script>
<script type="text/html" id="footer-template" load-src="/sitedesign/footer.htm"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script type="text/javascript" src="/siteserver/ce_Login.js"></script>
