<div class="container" style="min-height: 800px;">

	<div class="site" data-bind="with: site_controller">
	    <h2><span data-bind="text: 'Site: ' + site.ce_site_id"></span> <small><i class="glyphicon glyphicon-pencil click" data-bind="click: $parent.enter_edit_mode"></i></small></h2>
	    <div>
	        <label>Title: </label>
	        <span data-bind="text: site.dc_title"></span>
	    </div>
	
	    <h3>Improvements: </h3>
	    <div data-bind="foreach: improvements">
	        <a class="btn btn-large btn-primary" data-bind="attr: {href: _subject}, text: dc_title ? dc_title : 'untitled ' + rdf_type.toString().split('#')[1]"></a>
	    </div>
	    <hr>
	    <button class="btn btn-success" data-bind="click: $parent.enter_create_improvement_mode">Add Improvement</button>
	</div>

</div>
